
сделай компоненту <References />

oneTextSlice получай data, references

References рендери при помощи пропс из слайса
ендпоинт для текста готов

аудио ендпоинты не проверены
создать контроллер роутинг сервис для видео и проверить
